.container {
  padding: 0 2rem;
}
.h1{
  text-align: center;
}
.boton{
  background-color: rgb(84, 84, 161);
  height: 80vh;
  width: 100%;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 82px;
}
.reset{
  margin-bottom: 5px;
  background-color: green;
  margin-right: 6px;
}
.lolograste{
  text-align: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}